<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DailyInfoSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DailyInfoSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap"
                contract="DailyInfoSoap" name="DailyInfoSoap" />
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx"
                binding="customBinding" bindingConfiguration="DailyInfoSoap12"
                contract="DailyInfoSoap" name="DailyInfoSoap12" />
        </client>
    </system.serviceModel>
</configuration>