.bocuWrapper
{
    display: inline-block;
    text-align: center;
}
            
.bocuWrapper object
{
    display: block;
    margin: 0 0 0 1px;
    padding: 0;
}

.bocuWrapper + span
{
    font-size: 10px;
}

.bocuWrapper + span img
{
    vertical-align: middle;
    margin-bottom: 2px;
}

.bocuWrapper + span div
{
    padding-right: 2px;
}

.uploadifyQueueItem,
.uploadifyQueueItem div
{
    display: inline;
}
